@model List<LinkModel>

<input id="search" type="text" class="folder" placeholder="Search (@Model.Count()) links..." />

@foreach (var item in Model)
{
    <div class="folder" data-search="@item.Title @item.Description @item.Url">
        <div class="folder-heading">
            <h3 class="left">
                @item.Title
            </h3>
            <div class="right">
                <a href="@item.Url" target="_blank">@item.Url.ToUrlWithoutProtocol()</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="folder-content">
            @if (!String.IsNullOrEmpty(item.Description))
            {
                <p>@item.Description</p>
            }
        </div>
    </div>
}

<script src="~/Scripts/folder-search.js"></script>